@using Wmis.Extensions
@{
    ViewBag.Title = "Taxonomies";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/taxonomy/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-end">
        <div>
            @if (Html.UserIsProjectAdministrator())
            {
                <base-link-button href="/Taxonomy/New" color="success">
                <span class="el-icon-plus"></span>        
            New</base-link-button>
            }
        <base-link-button v-bind:href=`/Taxonomy/Edit/${selectedKey}` id="editButton" color="info" :disabled="!isSelected">
            <span class="el-icon-view"></span>  View
        </base-link-button>
        </div>
    </div>
</div>

<div class="card border-0">
    <div class="card-body">
        <div class="row gy-3">
            <div class="col-lg-4">
                <label class="form-label visually-hidden">Taxonomy Group</label>
                <base-dropdown-select :return_object="false" :options="taxonomyGroups" v-model="form.groupKey"></base-dropdown-select>
            </div>
            <div class="col-lg-4">
                <label class="form-label visually-hidden">Keywords</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Keywords" id="keyword" v-model="form.keywords">
                    <base-button id="searchbtn"><span class="el-icon-search"></span> Search</base-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <div class="row ">
            <div class="col-md-12">
                <table id="taxonomies" class="table table-sm table-striped table-hover w-100">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Name</th>
                            <th>Taxonomy Group</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>

