@using Wmis.Extensions
@{
    ViewBag.Title = "Collared Animal";
    ViewBag.SubTitle = "<span v-if='form'>{{ form.animalId }}</span>";
}

@section TopRight{
    <div class="h6 text-end" v-if="form">
        <span v-if="form.collarStatus">Collar Status: <strong>{{ form.collarStatus.name }}</strong><br /></span>
        <span v-if="form.animalStatus">Animal Status: <strong>{{ form.animalStatus.name }}</strong><br /></span>
        <span class="h5">Last Updated: <span>{{ lastUpdated }} </span> <span data-bind="text: ko.unwrap(lastUpdated) ? moment.utc(lastUpdated(), moment.ISO_8601).local().format('L h:mm a') : ''"></span></span>
    </div>
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))

    <style>
        #map-canvas {
            height: 450px;
            width: 100%;
        }
    </style>

}

@section Scripts{
    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>*@
    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPbVsrzI2t37hJOZKAo1bqpCu3khl14kM&callback=initMap" type="text/javascript"></script>*@
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPbVsrzI2t37hJOZKAo1bqpCu3khl14kM" type="text/javascript"></script>

    <script type="text/html" id="history-tab-template">
        @{Html.RenderPartial("~/Views/Shared/HistoryTab.cshtml");}
    </script>

    <script type="text/html" id="file-tab-template">
        @{Html.RenderPartial("~/Views/Shared/FileTab.cshtml");}
    </script>

    <script type="text/html" id="mapping-tab-template">
        @{Html.RenderPartial("CollaredAnimalMappingTab");}
    </script>

    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/components/HistoryTab"))
    @Html.Raw(Scripts.Render("~/bundles/components/FileTab"))
    @Html.Raw(Scripts.Render("~/bundles/components/GMap"))
    @Html.Raw(Scripts.Render("~/bundles/components/CollaredAnimalMapping"))
    @Html.Raw(Scripts.Render("~/bundles/collaredanimal/edit"))
}


<input type="hidden" id="collaredAnimalKey" value="@ViewBag.Key" />

<div class="row">
    <div class="col-md-12 text-end">

        <a href="/CollaredAnimal/" class="el-button is-plain el-button--danger el-button--medium">
            @if (Html.UserIsProjectCollarAdministrator())
            {
                <span>Cancel</span>
            }
            else
            {
                <span>Back</span>
            }
        </a>
        @if (Html.UserIsProjectCollarAdministrator())
        {
            <base-button color="success" :busy="loading" v-on:click.prevent="saveUpdate()">Save</base-button>
        }
    </div>
</div>

<div class="row" v-if="loaded">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active"><a href="#animalTab" role="tab" data-bs-toggle="tab" class="nav-link active">Animal</a></li>
            <li class="nav-item"><a href="#collarTab" role="tab" data-bs-toggle="tab" class="nav-link">Collar</a></li>
            <li class="nav-item"><a href="#mapTab" role="tab" data-bs-toggle="tab" class="nav-link">Locations</a></li>
            <li class="nav-item"><a href="#filesTab" role="tab" data-bs-toggle="tab" class="nav-link">Links</a></li>
            <li class="nav-item"><a href="#historyTab" role="tab" data-bs-toggle="tab" class="nav-link">History</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="collarAnimalContent">

            <div id="animalTab" class="tab-pane active py-4">
                @{ Html.RenderPartial("AnimalTab"); }
            </div>

            <div id="collarTab" class="tab-pane py-4">
                @{ Html.RenderPartial("CollarTab"); }
            </div>

            <div id="mapTab" class="tab-pane py-4">
                <collared-animal-mapping :animal_id="key"></collared-animal-mapping>
            </div>

            <div id="filesTab" class="tab-pane py-4">
                <file-tab v-if="key" :parent_table_key="key" parent_table_name="CollaredAnimals"></file-tab>
            </div>

            <div id="historyTab" class="tab-pane py-4">
                <history-tab v-if="key" :parent_table_key="key" parent_table_name="CollaredAnimals"></history-tab>
            </div>
        </div>
    </div>
</div>






<!-- BREEDING STATUS MODAL -->
<div class="modal fade" id="breedingStatusModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Breeding Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" v-if="loaded">
                <div class="card border-0">
                    <div class="row g-3">
                        <lable class="col-3 text-end">Status</lable>
                        <div class="col-9">
                            <el-select class="w-100" v-model="breedingStatusForm.breedingStatus.key">
                                <el-option :value="0" label="Select Status" disabled></el-option>
                                <el-option v-for="item in breedingStatuses"
                                           :key="item.key"
                                           :label="item.name"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </div>
                        <lable class="col-3 text-end">Confidence</lable>
                        <div class="col-9">
                            <el-select class="w-100" v-model="breedingStatusForm.breedingStatusConfidenceLevel.key">
                                <el-option :value="0" label="Select Conf. Level" disabled></el-option>
                                <el-option v-for="item in confidenceLevels"
                                           :key="item.key"
                                           :label="item.name"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </div>
                        <lable class="col-3 text-end">Method</lable>
                        <div class="col-9">
                            <el-select class="w-100" v-model="breedingStatusForm.breedingStatusMethod.key" placeholder="Select">
                                <el-option :value="0" label="Select Method" disabled></el-option>
                                <el-option v-for="item in breedingStatusMethods"
                                           :key="item.key"
                                           :label="item.name"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </div>
                        <lable class="col-3 text-end">Effective Date</lable>
                        <div class="col-9">
                            <el-date-picker v-model="breedingStatusForm.breedingStatusDate"
                                            type="date"
                                            class="w-100"
                                            value-format="YYYY-MM-DDTHH:mm:ss.SSS">
                            </el-date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <base-button color="danger" plain data-bs-dismiss="modal">Cancel</base-button>
                <base-button color="success" :disabled="disableBreedingStatusCreate" v-on:click="updateBreedingStatus()">
                    Update
                </base-button>
            </div>
        </div>
    </div>
</div>


<!-- HERD ASSOCIATION MODAL -->
<div class="modal fade" id="herdAssociationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Herd Association</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" v-if="loaded">
                <div class="card border-0">
                    <div class="row g-3">
                        <lable class="col-3 text-end">Population</lable>
                        <div class="col-9">
                            <el-select class="w-100" v-model="herdAssociationForm.herdPopulation.key">
                                <el-option :value="0" label="Select Herd Population" disabled></el-option>
                                <el-option v-for="item in herdPopulations"
                                           :key="item.key"
                                           :label="item.name"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </div>
                        <lable class="col-3 text-end">Confidence</lable>
                        <div class="col-9">
                            <el-select class="w-100" v-model="herdAssociationForm.herdAssociationConfidenceLevel.key">
                                <el-option :value="0" label="Select Conf. Level" disabled></el-option>
                                <el-option v-for="item in confidenceLevels"
                                           :key="item.key"
                                           :label="item.name"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </div>
                        <lable class="col-3 text-end">Method</lable>
                        <div class="col-9">
                            <el-select class="w-100" v-model="herdAssociationForm.herdAssociationMethod.key">
                                <el-option :value="0" label="Select Method" disabled></el-option>
                                <el-option v-for="item in herdAssociationMethods"
                                           :key="item.key"
                                           :label="item.name"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </div>
                        <lable class="col-3 text-end">Effective Date</lable>
                        <div class="col-9">
                            <el-date-picker v-model="herdAssociationForm.herdAssociationDate"
                                            type="date"
                                            class="w-100"
                                            value-format="YYYY-MM-DDTHH:mm:ss.SSS">
                            </el-date-picker>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <base-button color="danger" plain data-bs-dismiss="modal">Cancel</base-button>
                <base-button color="success" :disabled="disableHerdAssociationCreate" v-on:click="updateHerdAssociation()">
                    Update
                </base-button>
            </div>
        </div>
    </div>
</div>