@{
	ViewBag.Title = "Collared Animal";
}

@section Styles {
	@Html.Raw(Styles.Render("~/bundles/content/datatables"))
	@Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts {
	@Html.Raw(Scripts.Render("~/bundles/datatables"))
	@Html.Raw(Scripts.Render("~/bundles/select2"))
	@Html.Raw(Scripts.Render("~/bundles/collaredanimal/index"))

	<script type="text/javascript">
		$(function () {
		    wmis.collaredanimal.index.initialize();
		});
	</script>
}

    <div class="row">
		<div class="col-md-12 text-right">
			<a href="/CollaredAnimal/New" class="btn btn-default" style="margin-bottom: 10px;">New</a>
            <a href="/CollaredAnimal/Edit" id="editButton" class="btn btn-default disabled" style="margin-bottom: 10px;">Edit</a>
		</div>
	</div>

	<div class="well" style="margin-bottom: 0;">
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal center" role="form">
					
                    <div class="col-md-2 btn-group" data-toggle="buttons">
                        <div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
                            <label class="btn btn-primary">
                                <input type="checkbox" autocomplete="off" id="needingReview"> Collars needing review
                            </label>
                        </div>
                    </div>

                    <div class="col-md-1"></div>

				    <div class="col-md-3">
				        <div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
				            <label class="sr-only" for="group">Region</label>
				            <select class="form-control" id="region" name="region">
				                <option value="">All Regions</option>
				            </select>
				        </div>
				    </div>
                    
                    <div class="col-md-1"></div>
                    
				    <label class="sr-only" for="keywords">Keywords</label>
                    <div class="col-md-5">
                        <div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
                            <div class="input-group">
                                <input type="text" id="keywords" class="form-control" placeholder="Keywords" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="searchButton">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
				</form>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<table id="collar" class="table">
				<thead>
					<tr>
						<th>Collar ID</th>
					    <th>Collar Type</th>
					    <th>Collar State</th>
					    <th>Collar Status</th>
					    <th>VHF Frequency</th>
					    <th>Animal ID</th>
					    <th>Project ID</th>
					    <th>Project Name</th>
					    <th>Inactive Date</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

