@using Wmis.Extensions
@{
    ViewBag.Title = "Collared Animal";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/collaredanimal/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-end">
        <base-button color="warning" v-on:click="downloadRecords()">Download</base-button>
        @if (Html.UserIsBiodiversityAdministrator())
        {
            <base-button color="success" v-on:click="newCollarModal.show()">New</base-button>
        }
        <a v-bind:href=`/CollaredAnimal/Edit/${selectedKey}` id="editButton" class="el-button el-button--primary btn" v-bind:class="{'disabled' : !isSelected}">
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <span>View</span>
            }
            else
            {
                <span>View</span>
            }
        </a>
    </div>
</div>


<div class="card bg-light border border-primary">
    <div class="card-body">
        <div class="row g-3 d-flex align-items-center">
            <div class="col-2">
                <el-checkbox v-model="form.needingReview" label="Collars needing review"></el-checkbox>
            </div>
            <div class="col">
                <base-dropdown-select :return_object="false" :options="regions" v-model="form.regionKey"></base-dropdown-select>
            </div>
            <div class="col">
                <base-dropdown-select :return_object="false" :options="species" v-model="form.speciesKey"></base-dropdown-select>
            </div>
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Keyword" id="keyword" v-model="form.keywords">
                    <base-button id="searchbtn"> <span class="el-icon-search"></span> Search</base-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">

                <table id="collarTable" class="table table-sm table-striped table-hover w-100">
                    <thead>
                        <tr>
                            <th>Group</th>
                            <th>Kingdom</th>
                            <th>Phylum</th>
                            <th>Class</th>
                            <th>Order</th>
                            <th>Family</th>
                            <th>Common Name</th>
                            <th>Species</th>
                            <th>Rank</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- New Collar Modal -->
<div class="modal fade" id="newCollarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Collared Animal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card border-0">
                    <div class="row g-3">
                        <div class="col-12">
                            <lable>Collar ID (CTN)</lable>
                            <base-input v-model.trim="newCollarForm.collarId" label="Collar ID (CTN)"></base-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <base-button color="danger" plain data-bs-dismiss="modal">Cancel</base-button>
                <base-button color="success" :disabled="disableCreate" v-on:click="handleCreateCollar()">
                    Save
                </base-button>
            </div>
        </div>
    </div>
</div>
