@using Wmis.Extensions


@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}


@section Scripts{
    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/biodiversity/edit"))
}


<div class="my-4">
    <div class="row">
        <div class="col-md-12 text-end">
            <a href="/BioDiversity/" class="btn btn-default">
                @if (Html.UserIsBiodiversityAdministrator())
                {
                    <span>Cancel</span>
                }
                else
                {
                    <span>Back</span>
                }
            </a>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <button type="submit" class="btn btn-primary">Save</button>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active"><a href="#general" role="tab" data-bs-toggle="tab" class="nav-link active colouredTab generalTab">General</a></li>
                <li class="nav-item"><a href="#reproduction" role="tab" data-bs-toggle="tab" class="nav-link colouredTab reproductionTab">Reproduction</a></li>
                <li class="nav-item"><a href="#distribution" role="tab" data-bs-toggle="tab" class="nav-link colouredTab distributionTab">Distribution</a></li>
                <li class="nav-item"><a href="#abundance" role="tab" data-bs-toggle="tab" class="nav-link colouredTab abundanceTab">Abundance</a></li>
                <li class="nav-item"><a href="#trends" role="tab" data-bs-toggle="tab" class="nav-link colouredTab trendsTab">Trends</a></li>
                <li class="nav-item"><a href="#threats" role="tab" data-bs-toggle="tab" class="nav-link colouredTab threatsTab">Threats</a></li>
                <li class="nav-item"><a href="#status" role="tab" data-bs-toggle="tab" class="nav-link colouredTab statusTab">Status</a></li>
                <li class="nav-item"><a href="#files" role="tab" data-bs-toggle="tab" class="nav-link colouredTab fileTab">Links</a></li>
                <li class="nav-item"><a href="#history" role="tab" data-bs-toggle="tab" class="nav-link colouredTab historyTab">History</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" id="biodiversityTabContent">
                @{Html.RenderPartial("GeneralTab");}
                @{Html.RenderPartial("ReproductionTab");}
                @{Html.RenderPartial("DistributionTab");}
                @{Html.RenderPartial("AbundanceTab");}
                @{Html.RenderPartial("TrendsTab");}
                @{Html.RenderPartial("ThreatsTab");}
                @{Html.RenderPartial("StatusTab");}
                <div id="files" class="tab-pane fade form-horizontal">
                    <div id="fileTemplateTempDiv"></div>
                </div>
                <div id="history" class="tab-pane fade form-horizontal">
                    <div id="historyTemplateTempDiv"></div>
                </div>
            </div>
        </div>
    </div>
</div>