@{
    ViewBag.Title = "Biodiversity";
	ViewBag.SubTitle = "<span data-bind='with: bd'><span data-bind='text: name'></span></span>";
}

@section TopRight{
	<div class="h4 pull-right" style="text-align: right; margin:0;" data-bind="with: bd">
		<span data-bind="with: statusRank">Status Rank: <strong><span data-bind="text: name"></span></strong><br /></span>
		<span class="h5">Last Updated: <span data-bind="text: ko.unwrap(lastUpdated) ? moment.utc(lastUpdated(), moment.ISO_8601).local().format('L h:mm a') : ''"></span></span>
	</div>
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts{
    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/knockout"))
	@Html.Raw(Scripts.Render("~/bundles/biodiversity/edit"))

    <script>
        $(function () {
            wmis.biodiversity.edit.initialize({
            	bioDiversityKey: @ViewBag.Key
            });
        });
    </script>
}

@section Dialogs {
	<div class="modal" id="referenceModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					@*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
					<h4 class="modal-title">References - <span data-bind="text: selectedReferenceCategoryName"></span></h4>
				</div>
				<div class="modal-body form-horizontal">					
					<div class="form-group">
						<div class="col-md-12">
							<input type="hidden" name="selectedReferences" id="selectedReferences" class="form-control" data-bind="select2: referenceOptions" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: cancelReferenceChanges">Cancel</button>
					<button type="button" class="btn btn-primary" data-bind="click: saveReferenceChanges">Apply Changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

}

<form role="form">
	<div class="row">
		<div class="col-md-12 text-right">
			<a href="/BioDiversity/" class="btn btn-default">Cancel</a>
			<button type="submit" class="btn btn-primary" data-bind="click: saveBioDiversity, enable: canSave">Save</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#general" role="tab" data-toggle="tab" class="colouredTab generalTab">General</a></li>
				<li><a href="#reproduction" role="tab" data-toggle="tab" class="colouredTab reproductionTab">Reproduction</a></li>
				<li><a href="#distribution" role="tab" data-toggle="tab" class="colouredTab distributionTab">Distribution</a></li>
				<li><a href="#abundance" role="tab" data-toggle="tab" class="colouredTab abundanceTab">Abundance</a></li>
				<li><a href="#threats" role="tab" data-toggle="tab" class="colouredTab threatsTab">Threats</a></li>
				<li><a href="#trends" role="tab" data-toggle="tab" class="colouredTab trendsTab">Trends</a></li>
				<li><a href="#status" role="tab" data-toggle="tab" class="colouredTab statusTab">Status</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content" data-bind="with: bd" style="margin-top:10px;">
				<div class="tab-pane form-horizontal active" id="general">
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Naming</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Naming', categoryId: 1"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-md-1 control-label">Species</label>
						<div class="col-md-5">
						    <input type="text" class="form-control" id="name" data-bind="value: name">
                            <species-synonym-editor params="speciesId: key, speciesSynonymTypeId: 1, synonymsArray: $root.speciesSynonyms"></species-synonym-editor>
						</div>

						<label for="subSpecies" class="col-md-1 control-label">Sub Species</label>
						<div class="col-md-5">
						    <input type="text" class="form-control" id="subSpecies" data-bind="value: subSpeciesName">
                            <species-synonym-editor params="speciesId: key, speciesSynonymTypeId: 2, synonymsArray: $root.subSpeciesSynonyms"></species-synonym-editor>
						</div>
					</div>

					<div class="form-group">
						<label for="commonName" class="col-md-1 control-label">Common Name</label>
						<div class="col-md-5">
						    <input type="text" class="form-control" id="commonName" data-bind="value: commonName">
                            <species-synonym-editor params="speciesId: key, speciesSynonymTypeId: 3, synonymsArray: $root.commonNameSynonyms"></species-synonym-editor>
						</div>
					</div>

					<div class="form-group">
						<label for="ecoType" class="col-md-1 control-label">Eco Type</label>
						<div class="col-md-2">
						    <input type="text" class="form-control" id="ecoType" data-bind="value: ecoType">
                            <species-synonym-editor params="speciesId: key, speciesSynonymTypeId: 4, synonymsArray: $root.ecoTypeSynonyms"></species-synonym-editor>
						</div>

						<label for="population" class="col-md-1 control-label">Population</label>
						<div class="col-md-2">
						    <input type="text" class="form-control" id="population" data-bind="value: population">
                            <species-synonym-editor params="speciesId: key, speciesSynonymTypeId: 5, synonymsArray: $root.populationSynonyms"></species-synonym-editor>
						</div>

						<label for="nsGlobalId" class="col-md-1 control-label">NS Global ID</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="nsGlobalId" data-bind="value: nsGlobalId">
						</div>

						<label for="nsNWtId" class="col-md-1 control-label">NS NWT ID</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="nsNWtId" data-bind="value: nsNwtId">
						</div>
					</div>

					<div class="form-group">
						<label for="elcode" class="col-md-1 control-label">ELCODE</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="elcode" data-bind="value: elcode">
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Taxonomy</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Taxonomy', categoryId: 2"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="kingdom" class="col-md-1 control-label">Kingdom</label>
						<div class="col-md-5" data-bind="with: kingdom">
							<select class="form-control" id="kingdom" name="kingdom" data-bind="options: $root.kingdom, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
                            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
						</div>
					</div>
					<div class="form-group">
						<label for="commonName" class="col-md-1 control-label">Phylum</label>
						<div class="col-md-5" data-bind="with: phylum">
							<select class="form-control" id="phylum" data-bind="options: $root.phylum, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
                            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
						</div>
                            

						<label for="commonName" class="col-md-1 control-label">Sub Phylum</label>
						<div class="col-md-5" data-bind="with: subPhylum">
							<select class="form-control" id="subPhylum" data-bind="options: $root.subPhylum, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
						</div>
					</div>

					<div class="form-group">
						<label for="class" class="col-md-1 control-label">Class</label>
						<div class="col-md-5" data-bind="with: 'class'">
							<select class="form-control" id="class" data-bind="options: $root.class, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: 'key', select2: { }"></select>
						</div>

						<label for="subClass" class="col-md-1 control-label">Sub Class</label>
						<div class="col-md-5" data-bind="with: subClass">
							<select class="form-control" id="subClass" data-bind="options: $root.subClass, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
						</div>
					</div>

					<div class="form-group">
						<label for="order" class="col-md-1 control-label">Order</label>
						<div class="col-md-5" data-bind="with: order">
							<select class="form-control" id="order" data-bind="options: $root.order, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
                            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
						</div>

						<label for="subOrder" class="col-md-1 control-label">Sub Order</label>
						<div class="col-md-5" data-bind="with: subOrder">
							<select class="form-control" id="subOrder" data-bind="options: $root.subOrder, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
						</div>
					</div>

					<div class="form-group">
						<label for="infraOrder" class="col-md-1 control-label">Infra Order</label>
						<div class="col-md-5" data-bind="with: infraOrder">
							<select class="form-control" id="infraOrder" data-bind="options: $root.infraOrder, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
						</div>
					</div>

					<div class="form-group">
						<label for="superFamily" class="col-md-1 control-label">Super Family</label>
						<div class="col-md-5" data-bind="with: superFamily">
							<select class="form-control" id="superFamily" data-bind="options: $root.superFamily, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
						</div>
					</div>

					<div class="form-group">
						<label for="family" class="col-md-1 control-label">Family</label>
						<div class="col-md-5" data-bind="with: family">
							<select class="form-control" id="family" data-bind="options: $root.family, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
						</div>

						<label for="subFamily" class="col-md-1 control-label">Sub Family</label>
						<div class="col-md-5" data-bind="with: subFamily">
							<select class="form-control" id="subFamily" data-bind="options: $root.subFamily, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key"></select>
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-md-1 control-label">Group</label>
						<div class="col-md-5" data-bind="with: group">
							<select class="form-control" id="group" data-bind="options: $root.group, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Known Sub-Species (CAN)</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Known Sub-Species (CAN)', categoryId: 3"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-md-3 control-label">Number of Known Sub-Species CND</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="group" data-bind="value: canadaKnownSubSpeciesCount">
						</div>

						<div class="offset6 col-md-2 checkbox">
							<label for="group">
								<input type="checkbox" id="group" data-bind="checked: nonNtSpecies">
								Non-NT Species
							</label>
						</div>
					</div>

					<div class="form-group">
						<label for="family" class="col-md-1 control-label">Description</label>
						<div class="col-md-11">
							<textarea rows="4" name="knownSubSpeciesCanDescription" class="form-control" data-bind="value: canadaKnownSubSpeciesDescription"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Known Sub Species (NWT)</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Known Sub Species (NWT)', categoryId: 4"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-md-3 control-label">Number of Known Sub-Species NWT</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="group" data-bind="value: nwtKnownSubSpeciesCount">
						</div>
					</div>

					<div class="form-group">
						<label for="family" class="col-md-1 control-label">Description</label>
						<div class="col-md-11">
							<textarea rows="4" name="knownSubSpeciesCanDescription" class="form-control" data-bind="value: nwtKnownSubSpeciesDescription"></textarea>
						</div>
					</div>
				</div>
				
				<div class="tab-pane form-horizontal" id="reproduction">
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Age of Maturity (Female)</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Age of Maturity (Female)', categoryId: 5"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>
					
					<div class="form-group">
						<label for="ageOfMaturity" class="col-md-2 control-label">Age of Maturity</label>
						<div class="col-md-1">
							<input type="text" class="form-control" id="ageOfMaturity" data-bind="value: ageOfMaturity">
						</div>
					</div>

					<div class="form-group">
						<label for="ageOfMaturityDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="ageOfMaturityDescription" class="form-control" data-bind="value: ageOfMaturityDescription"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Reproduction</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Reproduction', categoryId: 6"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>
					
					<div class="form-group">
						<label for="ageOfMaturity" class="col-md-2 control-label">Frequency Per Year</label>
						<div class="col-md-1">
							<input type="text" class="form-control" id="frequencyPerYear" data-bind="value: reproductionFrequencyPerYear">
						</div>
					</div>

					<div class="form-group">
						<label for="frequencyPerYearDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="frequencyPerYearDescription" class="form-control" data-bind="value: reproductionFrequencyPerYearDescription"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Longevity</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Longevity', categoryId: 7"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>
					
					<div class="form-group">
						<label for="longevity" class="col-md-2 control-label">Longevity</label>
						<div class="col-md-1">
							<input type="text" class="form-control" id="longevity" data-bind="value: longevity">
						</div>
					</div>

					<div class="form-group">
						<label for="longevityDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="longevityDescription" class="form-control" data-bind="value: longevityDescription"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Vegetation Reproduction</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Vegetation Reproduction', categoryId: 8"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>
					
					<div class="form-group">
						<label for="vegetationDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="vegetationDescription" class="form-control" data-bind="value: vegetationReproductionDescription"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Host Fish (Mussels)</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Host Fish (Mussels)', categoryId: 9"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>
				
					<div class="form-group">
						<label for="hostFishMusselsDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="hostFishMusselsDescription" class="form-control" data-bind="value: hostFishDescription"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Other Reproduction</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryId: 10"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="otherReproductionDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="otherReproductionDescription" class="form-control" data-bind="value: otherReproductionDescription"></textarea>
						</div>
					</div>
				</div>
				
				<div id="distribution" class="tab-pane form-horizontal">
                    <div class="row">
                        <div class="col-md-12 h4">
                            <div class="row">
                                <div class="col-md-4">Distribution in NWT</div>
                                <div class="col-md-8 text-right">
                                    <reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Distribution in NWT', categoryId: 14"></reference-widget>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="rangeExtentScore" class="col-md-2 control-label">Range Extent</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="rangeExtentScore" data-bind="value: rangeExtentScore">
                        </div>
                        <label for="distributionPercentage" class="col-md-2 control-label">Percentage</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="distributionPercentage" data-bind="value: distributionPercentage">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="rangeExtentDescription" class="col-md-2 control-label">Description</label>
                        <div class="col-md-10">
                            <textarea rows="4" name="rangeExtentDescription" class="form-control" data-bind="value: rangeExtentDescription"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="areaOfOccupancyScore" class="col-md-2 control-label">Area of Occupancy</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="areaOfOccupancyScore" data-bind="value: areaOfOccupancyScore">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="areaOfOccupancyDescription" class="col-md-2 control-label">Description</label>
                        <div class="col-md-10">
                            <textarea rows="4" name="areaOfOccupancyDescription" class="form-control" data-bind="value: areaOfOccupancyDescription"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 h4">
                            <div class="row">
                                <div class="col-md-4">Habitat</div>
                                <div class="col-md-8 text-right">
                                    <reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Habitat', categoryId: 18"></reference-widget>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="habitatDescription" class="col-md-2 control-label">Habitat Description</label>
                        <div class="col-md-10">
                            <textarea rows="4" name="habitatDescription" class="form-control" data-bind="value: habitatDescription"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="distributionEnvironmentalSpecificity" class="col-md-2 control-label">Environmental Specificity</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="distributionEnvironmentalSpecificity" data-bind="value: environmentalSpecificityScore">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="habitadistributionEnvironmentalSpecificityDescription" class="col-md-2 control-label">Description</label>
                        <div class="col-md-10">
                            <textarea rows="4" name="habitadistributionEnvironmentalSpecificityDescription" class="form-control" data-bind="value: environmentalSpecificityDescription"></textarea>
                        </div>
                    </div>

					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Ecozone</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Ecozone', categoryId: 11"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="ecozone" class="col-md-2 control-label">Ecozone</label>
						<div class="col-md-6">
							<select id="ecozone"
							        name="ecozone"
							        multiple="true"
							        class="form-control"
							        data-bind="options: $root.ecozones, selectedOptions: $root.selectedEcozoneKeys, optionsText: 'name', optionsValue: 'key', select2: { }"></select>
							@*<input type="text" class="form-control" id="ecozone" value="Not Yet Implemented">*@
						</div>
					</div>

					<div class="form-group">
						<label for="ecozoneDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="ecozoneDescription" class="form-control" data-bind="value: ecozoneDescription"></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Ecoregion</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Ecoregion', categoryId: 12"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="ecoregion" class="col-md-2 control-label">Ecoregion</label>
						<div class="col-md-6">
							<select id="ecoregion"
							        name="ecoregion"
							        multiple="true"
							        class="form-control"
							        data-bind="options: $root.ecoregions, selectedOptions: $root.selectedEcoregionKeys, optionsText: 'name', optionsValue: 'key', select2: { }"></select>
						</div>
					</div>

					<div class="form-group">
						<label for="ecoregionDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="ecoregionDescription" class="form-control" data-bind="value: ecoregionDescription"></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Protected Area</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Protected Area', categoryId: 13"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="protectedArea" class="col-md-2 control-label">Protected Area</label>
						<div class="col-md-6">
							<select id="protectedArea"
							        name="protectedArea"
							        multiple="true"
							        class="form-control"
							        data-bind="options: $root.protectedAreas, selectedOptions: $root.selectedProtectedAreaKeys, optionsText: 'name', optionsValue: 'key', select2: { }"></select>
						</div>
					</div>

					<div class="form-group">
						<label for="protectedAreaDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="protectedAreaDescription" class="form-control" data-bind="value: protectedAreaDescription"></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Historical Distribution</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Historical Distribution', categoryId: 15"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="historicalDistributionDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="historicalDistributionDescription" class="form-control" data-bind="value: historicalDistributionDescription"></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Marine Distribution</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Marine Distribution', categoryId: 16"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="marineDistributionDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="marineDistributionDescription" class="form-control" data-bind="value: marineDistributionDescription"></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Winter Distribution</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Winter Distribution', categoryId: 17"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="winterDistributionDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="winterDistributionDescription" class="form-control" data-bind="value: winterDistributionDescription"></textarea>
						</div>
					</div>
				</div>
				
				<div class="tab-pane form-horizontal" id="abundance">
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Population</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Population', categoryId: 19"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="abundancePopulationSize" class="col-md-2 control-label">Population Size</label>
						<div class="col-md-1">
							<input type="text" class="form-control" id="abundancePopulationSize" data-bind="value: populationSizeScore">
						</div>
					</div>

					<div class="form-group">
						<label for="abundancePopulationDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="abundancePopulationDescription" class="form-control" data-bind="value: populationSizeDescription"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Occurrences</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Occurrences', categoryId: 20"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="abundanceNumberOfOccurences" class="col-md-2 control-label">Number of Occurences</label>
						<div class="col-md-1">
							<input type="text" class="form-control" id="abundanceNumberOfOccurences" data-bind="value: numberOfOccurencesScore">
						</div>
					</div>

					<div class="form-group">
						<label for="abundanceNumberOfOccurencesDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="abundanceNumberOfOccurencesDescription" class="form-control" data-bind="value: numberOfOccurencesDescription"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Density</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Density', categoryId: 21"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="densityDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="densityDescription" class="form-control" data-bind="value: densityDescription"></textarea>
						</div>
					</div>
				</div>
				 
				<div class="tab-pane form-horizontal" id="threats">
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Threats</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Threats', categoryId: 22"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="threatsThreats" class="col-md-2 control-label">Threats</label>
						<div class="col-md-1">
							<input type="text" class="form-control" id="threatsThreats" data-bind="value: threatsScore">
						</div>
					</div>

					<div class="form-group">
						<label for="threatsThreatsDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="threatsThreatsDescription" class="form-control" data-bind="value: threatsDescription"></textarea>
						</div>
					</div>
					
					<div class="form-group">
						<label for="threatsIntrinsiceVulnerability" class="col-md-2 control-label">Intrinsic Vulnerability</label>
						<div class="col-md-1">
							<input type="text" class="form-control" id="threatsIntrinsiceVulnerability" data-bind="value: intrinsicVulnerabilityScore">
						</div>
					</div>

					<div class="form-group">
						<label for="threatsIntrinsiceVulnerabilityDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="threatsIntrinsiceVulnerabilityDescription" class="form-control" data-bind="value: intrinsicVulnerabilityDescription"></textarea>
						</div>
					</div>
				</div>
				
				<div class="tab-pane form-horizontal" id="trends">
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Short-Term Trends</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Short-Term Trends', categoryId: 23"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="trendsShortTermTrends" class="col-md-2 control-label">Short-Term Trend</label>
						<div class="col-md-1">
							<input type="text" class="form-control" id="trendsShortTermTrends" data-bind="value: shortTermTrendsScore">
						</div>
					</div>

					<div class="form-group">
						<label for="trendsShortTermTrendsDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="trendsShortTermTrendsDescription" class="form-control" data-bind="value: shortTermTrendsDescription"></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Long-Term Trends</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Long-Term Trends', categoryId: 24"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="trendsLongTermTrends" class="col-md-2 control-label">Long-Term Trend</label>
						<div class="col-md-1">
							<input type="text" class="form-control" id="trendsLongTermTrends" data-bind="value: longTermTrendsScore">
						</div>
					</div>

					<div class="form-group">
						<label for="trendsLongTermTrendsDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="trendsLongTermTrendsDescription" class="form-control" data-bind="value: longTermTrendsDescription"></textarea>
						</div>
					</div>
				</div>
				
				<div class="tab-pane form-horizontal" id="status">
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Rank</div>
								<div class="col-md-8 text-right">
                                    <reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Rank', categoryId: 25"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="statusRank" class="col-md-2 control-label">Rank</label>
						<div class="col-md-4" data-bind="with: statusRank">
							<select class="form-control" id="statusRank" data-bind="options: $root.statusRank, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
						</div>

                        <label for="nRank" class="col-md-1 control-label">N Rank</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="nRank" data-bind="value: nRank">
                        </div>

						<label for="sRank" class="col-md-1 control-label">S Rank</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="sRank" data-bind="value: sRank">
						</div>
					</div>
					
					<div class="form-group">
						<label for="rankDescription" class="col-md-2 control-label">Rank Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="rankDescription" class="form-control" data-bind="value: statusRankDescription"></textarea>
						</div>
					</div>
					
					<div class="form-group">
						<label for="descisionProcess" class="col-md-2 control-label">Decision Process</label>
						<div class="col-md-10">
							<textarea rows="4" name="descisionProcess" class="form-control" data-bind="value: decisionProcessDescription"></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">COSEWIC Status</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'COSEWIC Status', categoryId: 27"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="cosewicStatus" class="col-md-2 control-label">COSEWIC Status</label>
						<div class="col-md-4" data-bind="with: cosewicStatus">
							<select class="form-control" id="cosewicStatus" data-bind="options: $root.cosewicStatus, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
						</div>
					</div>
					
					<div class="form-group">
						<label for="cosewicStatusDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="cosewicStatusDescription" class="form-control" data-bind="value: cosewicStatusDescription"></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">Federal Species At Risk</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Federal Species At Risk', categoryId: 28"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="saraStatus" class="col-md-2 control-label">SARA Status</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="saraStatus" data-bind="value: saraStatus">
						</div>
					</div>

					<div class="form-group">
						<label for="cosewicStatusDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="cosewicStatusDescription" class="form-control" data-bind="value: federalSpeciesAtRiskStatusDescription"></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">NWT SARC Assessment</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'NWT SARC Assessment', categoryId: 29"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

                    <div class="form-group">
                        <label for="nwtSarcAssessment" class="col-md-2 control-label">NWT SARC Assessment</label>
                        <div class="col-md-4" data-bind="with: nwtSarcAssessment">
                            <select class="form-control" id="nwtSarcAssessment" data-bind="options: $root.nwtSarcAssessment, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
                        </div>
                    </div>

					<div class="form-group">
						<label for="nwtSarcAssessmentDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="nwtSarcAssessmentDescription" class="form-control" data-bind="value: nwtsarcAssessmentDescription"></textarea>
						</div>
					</div>
					
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">NWT Species at Risk Status</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'NWT Species at Risk Status', categoryId: 30"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="nwtStatusRank" class="col-md-2 control-label">NWT Status Rank</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="nwtStatusRank" data-bind="value: nwtStatusRank">
						</div>
					</div>

					<div class="form-group">
						<label for="nwtStatusRankDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="nwtStatusRankDescription" class="form-control" data-bind="value: nwtSpeciesAtRiskStatusDescription"></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 h4">
							<div class="row">
								<div class="col-md-4">IUCN Status</div>
								<div class="col-md-8 text-right">
									<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'IUCN Status', categoryId: 32"></reference-widget>
								</div>
							</div>
							<hr />
						</div>
					</div>

					<div class="form-group">
						<label for="iucnStatus" class="col-md-2 control-label">IUCN Status</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="iucnStatus" data-bind="value: iucnStatus">
						</div>

						<label for="gRank" class="col-md-1 control-label">G Rank</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="gRank" data-bind="value: gRank">
						</div>
					</div>

					<div class="form-group">
						<label for="iucnStatusDescription" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="4" name="iucnStatusDescription" class="form-control" data-bind="value: iucnDescription"></textarea>
						</div>
					</div>

                    <div class="row">
                        <div class="col-md-12 h4">
                            <div class="row">
                                <div class="col-md-4">Economic Status</div>
                                <div class="col-md-8 text-right">
                                    <reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Economic Status', categoryId: 26"></reference-widget>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="economicStatusDescription" class="col-md-2 control-label">Description</label>
                        <div class="col-md-10">
                            <textarea rows="4" name="economicStatusDescription" class="form-control" data-bind="value: economicStatusDescription"></textarea>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</form>