@{
	ViewBag.Title = "Biodiversity";
}

@section Styles {
	@Html.Raw(Styles.Render("~/bundles/content/datatables"))
	@Html.Raw(Styles.Render("~/bundles/select2css"))



}

@section Scripts {
	@Html.Raw(Scripts.Render("~/bundles/datatables"))
	@Html.Raw(Scripts.Render("~/bundles/select2"))
	@Html.Raw(Scripts.Render("~/bundles/biodiversity/index"))

	<script type="text/javascript">
		$(function () {
			wmis.biodiversity.index.initialize();
		});
	</script>
}

    <div class="row">
		<div class="col-md-12 text-right">
			<a href="/BioDiversity/New" class="btn btn-default" style="margin-bottom: 10px;">New</a>
			<a href="/BioDiversity/Edit" id="editButton" class="btn btn-default disabled" style="margin-bottom: 10px;">Edit</a>
			<a href="/BioDiversity/Decision" id="decisionButton" class="btn btn-default disabled" style="margin-bottom: 10px;">Decision</a>
		</div>
	</div>

	<div class="well" style="margin-bottom: 0;">
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal center" role="form">
					<div class="col-md-3">
						<div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
							<label class="sr-only" for="group">Group</label>
							<select class="form-control" id="group" name="group">
								<option value="">Group</option>
							</select>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
							<label class="sr-only" for="order">Order</label>
							<select class="form-control" id="order" name="order">
								<option value="">Order</option>
							</select>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
							<label class="sr-only" for="family">Family</label>
							<select class="form-control" id="family" name="family">
								<option value="">Family</option>
							</select>
						</div>
					</div>

					<label class="sr-only" for="keywords">Keywords</label>
					<div class="col-md-3">
						<div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
							<div class="input-group">
								<input type="text" id="keywords" class="form-control" placeholder="Keywords" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" id="searchButton">Search</button>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<table id="biodiversity" class="table">
				<thead>
					<tr>
						<th>Group</th>
						<th>Order</th>
						<th>Family</th>
						<th>Common Name</th>
						<th>Species</th>
						<th>Sub Species</th>
						<th>Eco Type</th>
						<th>Last Updated</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

    <div id="map-canvas"></div>
