@using Wmis.Extensions
@{
    ViewBag.Title = "Biodiversity";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/biodiversity/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-between">
        <div>
            <el-popconfirm confirmButtonText="Yes"
                           cancelButtonText="No"
                           icon="el-icon-info"
                           iconColor="red"
                           title="Are you sure to delete the selected record?"
                           v-on:confirm="deletedSelectedRecord()">
                <template #reference>
                    <base-button color="danger" :disabled="!isSelected" size="small"> <span class="el-icon-delete"></span> Delete Selected</base-button>
                </template>
            </el-popconfirm>
        </div>


        <div>
            <base-button size="small" v-on:click="downloadRecords()" color="warning"><span class="el-icon-download"></span> Download</base-button>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <a href="/BioDiversity/New" class="el-button el-button--success el-button--small "><span class="el-icon-plus"></span> New</a>
                <a href="/BioDiversity/Upload" class="el-button el-button--info el-button--small "><span class="el-icon-upload2"></span> Bulk Upload</a>
            }
            <a v-bind:href=`/BioDiversity/Edit/${selectedKey}` id="editButton" class="el-button el-button--primary el-button--small btn" v-bind:class="{'disabled is-disabled' : !isSelected}">
                @if (Html.UserIsBiodiversityAdministrator())
                {
                    <span class="el-icon-view"></span>
                    <span>View</span>
                }
                else
                {
                    <span>View</span>
                }
            </a>
            <a v-bind:href=`/BioDiversity/Decision/${selectedKey}` v-bind:class="{'disabled' : !isSelected}" id="decisionButton" class="el-button el-button--primary el-button--small is-plain btn">
                <span class="el-icon-s-order"></span> Decision
            </a>
        </div>
    </div>
</div>

<div class="alert alert-danger alert-dismissible fade show" v-show="deleteError" role="alert">
    <p>{{deleteError}}</p>
    <button type="button" class="btn-close" v-on:click="deleteError=null" aria-label="Close"></button>
</div>

<div class="card bg-light border border-primary">
    <div class="card-body">
        <div class="row g-3">
            <div class="col">
                <label class="form-label visually-hidden">Group</label>
                <base-dropdown-select :return_object="false" :options="groups" v-model="form.groupKey"></base-dropdown-select>
            </div>
            <div class="col">
                <label class="form-label visually-hidden">Order</label>
                <base-dropdown-select :return_object="false" :options="orders" v-model="form.orderKey"></base-dropdown-select>
            </div>
            <div class="col">
                <label class="form-label visually-hidden">Family</label>
                <base-dropdown-select :return_object="false" :options="families" v-model="form.familyKey"></base-dropdown-select>
            </div>
            <div class="col">
                <label class="form-label visually-hidden">Keywords</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Keywords" id="keyword" v-model="form.keywords">
                    <base-button id="searchbtn">Search</base-button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row my-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table id="biodiversity" class="table table-sm table-striped table-hover">
                    <thead class="border border-primary border-2">
                        <tr>
                            <th>Group</th>
                            <th>Kingdom</th>
                            <th>Phylum</th>
                            <th>Class</th>
                            <th>Order</th>
                            <th>Family</th>
                            <th>Common Name</th>
                            <th>Species</th>
                            <th>Rank</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>
