@using Wmis.Extensions
@{
	ViewBag.Title = "Biodiversity";
}

@section Styles {
	@Html.Raw(Styles.Render("~/bundles/content/datatables"))
	@Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts {
	@Html.Raw(Scripts.Render("~/bundles/datatables"))
	@Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/knockout"))
	@Html.Raw(Scripts.Render("~/bundles/biodiversity/index"))

	<script type="text/javascript">
		$(function () {
			wmis.biodiversity.index.initialize();
		});
	</script>
}

    <div class="row">
        <div id="deleteErrorAlert" class="alert alert-warning fade in alert-dismissible hidden">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span id="deleteError">Message here</span>
        </div>

		<div class="col-md-16 text-right">
            <button id="downloadButton" class="btn btn-default" style="margin-bottom: 10px;">Download</button>
			@if (Html.UserIsBiodiversityAdministrator())
            {
                <button data-bind="click: removeSpecies" id="deleteSpeciesButton" class="btn btn-default pull-left disabled" style="margin-bottom: 10px;">Delete Selected</button>
				<a href="/BioDiversity/New" class="btn btn-default" style="margin-bottom: 10px;">New</a>
                <a href="/BioDiversity/Upload" class="btn btn-default" style="margin-bottom: 10px;">Bulk Upload</a>
			}
			<a href="/BioDiversity/Edit" id="editButton" class="btn btn-default disabled" style="margin-bottom: 10px;">
				@if (Html.UserIsBiodiversityAdministrator())
				{
					<span>Edit</span>
				}
				else
				{
					<span>View</span>
				}
			</a>
			<a href="/BioDiversity/Decision" id="decisionButton" class="btn btn-default disabled" style="margin-bottom: 10px;">Decision</a>
            
		</div>
	</div>

	<div class="well" style="margin-bottom: 0;">
		<div class="row">
			<div class="col-md-16">
				<form class="form-horizontal center" role="form">
					<div class="col-md-3">
						<div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
							<label class="sr-only" for="group">Group</label>
							<select class="form-control" id="group" name="group">
								<option value="">Group</option>
							</select>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
							<label class="sr-only" for="order">Order</label>
							<select class="form-control" id="order" name="order">
								<option value="">Order</option>
							</select>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
							<label class="sr-only" for="family">Family</label>
							<select class="form-control" id="family" name="family">
								<option value="">Family</option>
							</select>
						</div>
					</div>

					<label class="sr-only" for="keywords">Keywords</label>
					<div class="col-md-3">
						<div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
							<div class="input-group">
								<input type="text" id="keywords" class="form-control" placeholder="Keywords" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" id="searchButton">Search</button>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-16">
			<table id="biodiversity" class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Group</th>
                        <th>Kingdom</th>
                        <th>Phylum</th>
                      <!--  <th>SubPhylum</th> -->
                        <th>Class</th>
						<th>Order</th>
						<th>Family</th>
						<th>Common Name</th>
						<th>Species</th>
						<th>Sub Species</th>
						<th>Rank</th>
						<th>Last Updated</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

    <div id="map-canvas"></div>
