@using Wmis.Extensions
@{
    ViewBag.Title = "Species Bulk Upload";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/content/datatables"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/knockout"))
    @Html.Raw(Scripts.Render("~/bundles/biodiversity/upload"))

    <script type="text/javascript">
        $(function() {
            wmis.biodiversity.upload.initialize({
                uploadSpeciesForm: $("#speciesFileUploadForm")
            });
        });
    </script>
}

<div class="modal" data-backdrop="static" id="speciesUploadModal" data-bind="showModal: currentModal() == 'upload', with: $root">
    <iframe id="uploadIframe" name="uploadIframe" src="" style="height: 1px; width: 1px;" frameborder="0" scrolling="no" height="1" width="1"></iframe>
    <form role="form" id="speciesFileUploadForm" enctype="multipart/form-data" action="~/api/biodiversity/upload/" method="post" target="uploadIframe">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bind="click: $root.hideUploadModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Bulk Upload Species</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputFile">Bulk Upload Species Template File</label>
                        <input type="file" id="exampleInputFile" name="exampleInputeFile">
                        <p class="help-block">Only .xls and .xlsx files are supported. Please use the provided template (downloading a new version is recommended)</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bind="click: $root.hideUploadModal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bind="click: $root.uploadObservationFile">Upload</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row h4">
    <div class="col-md-12 text-right">
        <span class="pull-left">
            <a href="~/Content/Files/BiodiversityBulkUploadTemplate.xlsx" target="_blank" type="button" class="btn btn-warning">Download Upload Template</a>
            <button type="button" id="downloadSelectedButton" class="btn btn-default disabled" data-bind="click: downloadSelectedFile">Download Selected File</button>
          <!-- <button type="button" id="deleteBulkUploadFile" class="btn btn-default disabled" data-bind="click: downloadSelectedFile">Delete BulkUpload File</button> -->
        </span>

        <button type="button" class="btn btn-success" data-bind="click: showUploadModal">Bulk Upload Species</button>
        
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table id="bulkUploadTable" class="table">
            <thead>
                <tr>
                    <th>Uploaded File</th>
                    <th>Upload Type</th>
                    <th>Date Created</th>
                </tr>
            </thead>
        </table>
    </div>
</div>