@using Wmis.Extensions
@{
    ViewBag.Title = "Ecozones";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/content/datatables"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/ecozone/index"))

    <script type="text/javascript">
        $(function () {
            wmis.ecozone.index.initialize();
        });
    </script>
}

<div class="row">
	<div class="col-md-12 text-right">
		@if (Html.UserIsBiodiversityAdministrator())
		{
			<a href="/Ecozone/New" class="btn btn-default" style="margin-bottom: 10px;">New</a>
		}
		<a href="/Ecozone/Edit" id="editButton" class="btn btn-default disabled" style="margin-bottom: 10px;">
			@if (Html.UserIsBiodiversityAdministrator())
			{
				<span>Edit</span>
			}
			else
			{
				<span>View</span>
			}
		</a>
	</div>
</div>

<div class="well" style="margin-bottom: 0px;">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal center" role="form">
                <label class="sr-only" for="keywords">Keywords</label>
                <div class="col-md-12">
                    <div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
                        <div class="input-group">
                            <input type="text" id="keywords" class="form-control" placeholder="Keywords" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="searchButton">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="ecozone" class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
