@using Wmis.Extensions
@{
    ViewBag.Title = "References";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/reference/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-end">
        <div>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <base-link-button href="/Reference/New" color="success">
                    <span class="el-icon-plus"></span>
                    New
                </base-link-button>
            }
            <base-link-button v-bind:href=`/Reference/Edit/${selectedKey}` id="editButton" color="info" :disabled="!isSelected">
                <span class="el-icon-view"></span>  View
            </base-link-button>
        </div>

    </div>
</div>

<div class="card border-0">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-4">
                <label class="form-label visually-hidden">Year</label>
                <base-dropdown-select :return_object="false" :options="years" v-model="form.yearFilter"></base-dropdown-select>
            </div>

            <div class="col">
                <label class="form-label visually-hidden">Keywords</label>
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Keywords" id="keyword" v-model="form.keywords">
                    <base-button id="searchbtn"><span class="el-icon-search"></span> Search</base-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table id="references" class="table table-sm table-striped table-hover w-100">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Code</th>
                            <th>Author</th>
                            <th>Year</th>
                            <th>Title</th>
                            <th>Edition Publication Organization</th>
                            <th>Volume Page</th>
                            <th>Publisher</th>
                            <th>City</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

