@using Wmis.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>WMIS</title>

    @Styles.Render("~/bundles/css")

    @RenderSection("Styles", false)
</head>
<body class="h-100">
    <div id="wmis-app" class="d-flex flex-column h-100">
        <header>
            <nav class="navbar navbar-expand-md py-0 navbar-dark fixed-top bg-dark">
                <div class="container">
                    <a class="navbar-brand text-white fw-bold text-decoration-none" href="/">
                        <img src="~/Content/images/logo.png" alt="GNWT Logo" width="55">
                        WMIS - <span class="small">Wildlife Management Information System</span>
                    </a>
                        
                    <ul class="navbar-nav">
                            @Html.MenuItem("Projects", "Index", "Project")
                            @Html.MenuItem("Collar", "Index", "CollaredAnimal")
                            
                        @*<li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Project">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/CollaredAnimal">Collar</a>
                        </li>*@
                        <li class="nav-item flex-shrink-0 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="admin" data-bs-toggle="dropdown" aria-expanded="false">Biodiversity</a>
                            <ul class="dropdown-menu" aria-labelledby="biodiversity">
                                @Html.MenuItem("Species", "Index", "BioDiversity", true)
                                @Html.MenuItem("Taxonomies", "Index", "Taxonomy", true)
                                @Html.MenuItem("Ecozones", "Index", "Ecozone", true)
                                @Html.MenuItem("Ecoregions", "Index", "Ecoregion", true)
                                @Html.MenuItem("Protected Areas", "Index", "ProtectedArea", true)
                                @Html.MenuItem("Ranks", "Index", "StatusRank", true)
                                @Html.MenuItem("COSEWIC Status", "Index", "CosewicStatus", true)
                                @Html.MenuItem("NWT SARC Assessments", "Index", "NwtSarcAssessment", true)
                                @Html.MenuItem("References", "Index", "Reference", true)
                                @Html.MenuItem("Biodiversity Bulk Upload", "Upload", "BioDiversity", true)
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Reports">Reports</a>
                        </li>
                        <li class="nav-item flex-shrink-0 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="admin" data-bs-toggle="dropdown" aria-expanded="false">Administrator</a>
                            <ul class="dropdown-menu" aria-labelledby="admin">
                                @if (Html.UserIsWMISAdministrator())
                                {
                                    @Html.MenuItem("Users", "Index", "User", true)
                                }
                                @if (Html.UserInAnyAdministratorRole())
                                {
                                    @Html.MenuItem("Survey Templates", "Index", "SurveyTemplate", true)
                                    @Html.MenuItem("Argos Service", "Index", "ArgosService", true)
                                }
                            </ul>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
        <!-- Begin page content -->
        <main class="flex-shrink-0">
            <div class="container">
                <div class="row clearfix">
                    @if (!string.IsNullOrEmpty(ViewBag.Title))
                    {
                        <div class="page-header d-flex justify-content-between align-items-center">
                            @if (IsSectionDefined("CustomTitle"))
                            {
                                @RenderSection("CustomTitle", false);
                            }
                            else
                            {
                                <div class="h1 pull-left" style="margin:0;">
                                    @ViewBag.Title @if (!string.IsNullOrEmpty(@ViewBag.SubTitle))
                                    {<small>@Html.Raw(ViewBag.SubTitle)</small>}
                                </div>
                            }
                            @RenderSection("TopRight", false)
                        </div>
                        <el-divider class="mb-2 mt-0" content-position="center">
                            <img src="~/Content/images/logo.png" width="35" />
                            @*<i class="el-icon-star-on"></i>*@
                    
                        </el-divider>
                    }
                </div>


                <div class="row">
                    <div class="col-12 pb-5 mb-5">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>

    </div>
    @*<footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>*@

    @RenderSection("Templates", false)
    @Scripts.Render("~/bundles/base")
    @* <script src="https://cdn.jsdelivr.net/npm/quasar@2.0.4/dist/quasar.umd.prod.js"></script>*@
    @RenderSection("Scripts", false)
</body>
</html>
