@{
    ViewBag.Title = "Survey";
	ViewBag.SubTitle = "Edit";
}

@section TopRight{
	<div class="h5 pull-right" style="text-align: right; margin:0;" data-bind="with: survey">
		<span data-bind="with: targetSpecies">Target Species: <span data-bind="text: name"></span><br /></span>
		<span data-bind="with: targetSpecies">Common Name: <span data-bind="text: commonName"></span></span>
	</div>
}

@section Styles {
	@Html.Raw(Styles.Render("~/bundles/datePickerCss"))
	@Html.Raw(Styles.Render("~/bundles/content/datatables"))
	@Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts{
	@Html.Raw(Scripts.Render("~/bundles/datePicker"))
	@Html.Raw(Scripts.Render("~/bundles/datatables"))
	@Html.Raw(Scripts.Render("~/bundles/select2"))
	@Html.Raw(Scripts.Render("~/bundles/knockout"))
	@Html.Raw(Scripts.Render("~/bundles/project/survey/edit"))

	<script>
		$(function() {
			wmis.project.survey.edit.initialize({
				projectSurveyKey: @ViewBag.Key,
				uploadObservationForm: $("#observationFileUploadForm"),
				observationModal: $("#observationUploadModal"),
				resumeObservationModal: $("resumeObservationUploadModal")
			});
		});
	</script>
}

@section Dialogs {
	<div class="modal" data-backdrop="static" id="observationUploadModal" data-bind="showModal: currentModal() == 'upload', with: $root">
		<iframe id="uploadIframe" name="uploadIframe" src="" style="height: 1px; width: 1px;" frameborder="0" scrolling="no" height="1" width="1"></iframe>
		<form role="form" id="observationFileUploadForm" enctype="multipart/form-data" action="~/api/observation/upload/@ViewBag.Key" method="post" target="uploadIframe">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-bind="click: $root.hideUploadModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Upload Observations</h4>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<label for="exampleInputFile">Observation File</label>
							<input type="file" id="exampleInputFile" name="exampleInputeFile">
							<p class="help-block">Only .xls and .xlsx files are supported.</p>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-bind="click: $root.hideUploadModal">Cancel</button>
						<button type="button" class="btn btn-primary" data-bind="click: $root.uploadObservationFile">Upload</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<div class="modal" data-backdrop="static" id="resumeObservationUploadModal" data-bind="showModal: currentModal() == 'manageUpload', with: $root">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bind="click: $root.hideManageUploadModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Resume Observation Upload</h4>
				</div>

				<div class="modal-body">
					<table class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Started</th>
								<th>Next Step</th>
								<th>File Name</th>
								<th></th>
							</tr>
						</thead>

						<tbody data-bind="foreach: observationUploads">
							<tr>
								<td data-bind="text: key"></td>
								<td data-bind="text: uploadedTimestamp"></td>
								<!-- ko with: status -->
								<td data-bind="with: nextStep"><span data-bind="text: name"></span></td>								
								<!-- /ko -->
								<td data-bind="text: originalFileName"></td>
								<td>
									<button data-bind="click: $root.resumeObservationUpload, visible: status().nextStep() != null">Resume</button>
									<span data-bind="visible: status().nextStep() == null">Completed</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-bind="click: $root.hideManageUploadModal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" data-backdrop="static" id="pickHeaderModal" data-bind="showModal: currentModal() == 'headerPicker', with: $root">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bind="click: hideHeaderPickerModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Observation Header Rows</h4>
				</div>

				<div class="modal-body">
					<div style="max-height: 420px; overflow-y: auto;">
						<table class="table">
							<thead>
								<tr>
									<th>Is Header Row</th>
									<th>Is First Data Row</th>
									<th>Row Index</th>
								</tr>
							</thead>

							<tbody data-bind="foreach: workingData">
								<tr>
									<td><input type="radio" name="headerRow" data-bind="value: rowIndex, checked: $root.headerRowIndex" /></td>
									<td><input type="radio" name="firstDataRow" data-bind="value: rowIndex, checked: $root.firstDataRowIndex, enable: $root.headerRowIndex() < rowIndex()" /></td>
									<td data-bind="text: rowIndex"></td>
									<!-- ko foreach: cellValues -->
									<td data-bind="text: $data"></td>
									<!-- /ko -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-bind="click: $root.hideHeaderPickerModal">Cancel</button>
					<button type="button" class="btn btn-primary" data-bind="click: $root.saveHeaderPickerRows, enable: $root.rowsPicked">Save Rows</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" data-backdrop="static" id="columnMappingModal" data-bind="showModal: currentModal() == 'columnPicker', with: $root">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bind="click: hideColumnMapperModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Observation Column Mapping</h4>
				</div>

				<div class="modal-body">
					<div style="max-height: 420px; overflow-y: auto;">
						<table class="table">
							<thead>
								<tr>
									<th>Template Column</th>
									<th>Upload Column</th>
									<th class="text-center">Required Mapping</th>
								</tr>
							</thead>

							<tbody data-bind="foreach: templateColumnMappings">
								<tr>
									<!-- ko with: surveyTemplateColumn -->
									<td data-bind="text: name"></td>
									<!-- /ko -->
									<td>
										<select class="form-control" data-bind="options: $root.columns, optionsText: 'cellValue', optionsValue: 'columnIndex', optionsCaption: '', value: columnIndex"></select>
									</td>
									<!-- ko with: surveyTemplateColumn -->
									<td class="text-center"><span class="glyphicon glyphicon-ok" data-bind="visible: isRequired" aria-hidden="true"></span></td>
									<!-- /ko -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-bind="click: $root.hideColumnMapperModal">Cancel</button>
					<button type="button" class="btn btn-primary" data-bind="click: $root.saveMappedColumns, enable: $root.columnsPicked">Save Columns</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" data-backdrop="static" id="dataPreviewModal" data-bind="showModal: currentModal() == 'dataPreview', with: $root">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bind="click: hideDataPreviewModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Observation Confirmation</h4>
				</div>

				<div class="modal-body" data-bind="with: observationConfirmationData">
					<div style="max-height: 420px; overflow-y: auto;">
						<table class="table">
							<thead>
								<tr>
									<th>Excel Row Index</th>
									<!-- ko foreach: $data.columns -->
									<th data-bind="text: name"></th>
									<!-- /ko -->
								</tr>
							</thead>
							<tbody>
								<!-- ko foreach: {data: $data.observationData, as: 'd'} -->
								<tr>
									<td data-bind="text: rowIndex"></td>
									<!-- ko foreach: {data: $parent.columns, as: 'c'} -->
									<td data-bind="text: $parent[c.jsName()]()"></td>
									<!-- /ko -->
								</tr>
								<!-- /ko -->
							</tbody>
						</table>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-bind="click: $root.hideDataPreviewModal">Cancel</button>
					<button type="button" class="btn btn-primary" data-bind="click: $root.confirmData">Confirm Data</button>
				</div>
			</div>
		</div>
	</div>
}

@{ Html.RenderPartial("EditSurveyForm"); }

