@using Wmis.Extensions
@{
    ViewBag.Title = "Project";
    ViewBag.SubTitle = "<span>{{form ? form.name : ''}}</span>";
}

@section TopRight{
    <div class="h6 text-end" v-if="form">
        <span>Status: <strong><span>{{form.status ? form.status.name : ""}}</span></strong><br /></span>
        <span class="h6">
            Last Updated: <span>{{ lastUpdated }}</span>
        </span>
    </div>
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts{

    <script type="text/html" id="history-tab-template">
        @{Html.RenderPartial("~/Views/Shared/HistoryTab.cshtml");}
    </script>

    <script type="text/html" id="project-surveys">
        @{Html.RenderPartial("SurveysTab");}
    </script>

    <script type="text/html" id="project-sites">
        @{Html.RenderPartial("SitesTab");}
    </script>

    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/components/ProjectSurveys"))
    @Html.Raw(Scripts.Render("~/bundles/components/HistoryTab"))
    @Html.Raw(Scripts.Render("~/bundles/components/ProjectSites"))
    @Html.Raw(Scripts.Render("~/bundles/project/edit"))
}

<input type="hidden" id="projectKey" value="@ViewBag.Key" />


<div class="row">
    <div class="col-md-12 text-end">

        @if (Html.UserIsProjectAdministrator())
        {
            <base-button v-on:click="editAdministratorsModal.show()" :plain="true">Edit Users</base-button>
        }

        <a href="~/Project/" class="el-button is-plain el-button--danger">
            @if (Html.UserIsProjectAdministrator())
            {
                <span>Cancel</span>
            }
            else
            {
                <span>Back</span>
            }
        </a>
        @if (Html.UserIsProjectAdministrator() || ViewBag.CanViewSensitive)
        {

            <base-button color="success" size="large" :busy="loading" v-on:click.prevent="saveUpdate()" :disabled="disabled">Save</base-button>
        }
    </div>
</div>

<!-------------------------------------------->
<div class="row my-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">


                <ul class="nav nav-tabs card-header-tabs justify-content-center fw-bold" role="tablist">
                    <li class="nav-item active"><a href="#generalTab" role="tab" data-bs-toggle="tab" class="nav-link active">General</a></li>
                    <li class="nav-item"><a href="#surveysTab" role="tab" data-bs-toggle="tab" class="nav-link">Surveys</a></li>
                    <li class="nav-item"><a href="#collarsTab" role="tab" data-bs-toggle="tab" class="nav-link">Collars</a></li>
                    <li class="nav-item"><a href="#collaboratorsTab" role="tab" data-bs-toggle="tab" class="nav-link">Collaborators</a></li>
                    <li class="nav-item"><a href="#sitesTab" role="tab" data-bs-toggle="tab" class="nav-link">Sites</a></li>
                    <li class="nav-item"><a href="#historyTab" role="tab" data-bs-toggle="tab" class="nav-link">History</a></li>
                </ul>

            </div>
            <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content" id="biodiversityTabContent">
                    <div id="generalTab" class="tab-pane active py-4">
                        @{Html.RenderPartial("GeneralTab");}
                    </div>

                    <div id="surveysTab" class="tab-pane form-horizontal">
                        <project-surveys v-bind:project_id="key" v-bind:survey_types="surveyTypes"></project-surveys>
                    </div>

                    <!-- project Collars -->
                    <div id="collarsTab" class="tab-pane form-horizontal">
                        <div class="row py-3">
                            <div class="col-md-12">
                                <table id="collarsTable" class="table w-100 table-sm">
                                    <thead>
                                        <tr>
                                            <th>Animal ID</th>
                                            <th>Animal Status</th>
                                            <th>Animal Herd</th>
                                            <th>Animal Sex</th>
                                            <th>Collar Status</th>
                                            <th>Collar State</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Project Collaborators -->
                    <div id="collaboratorsTab" class="tab-pane form-horizontal">
                        <div class="row h4 py-4">
                            <div class="col-md-12 text-right">
                                <base-button size="small" color="success" v-on:click="createCollaboratorModal()">Create New Collaborator</base-button>
                                <base-button size="small" color="primary" v-on:click="addCollaboratorFormModal.show()">Add Existing Collaborator</base-button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-sm w-100 table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Organization</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th class="text-center">Edit</th>
                                            <th class="text-center">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="p in projectCollaborators" :key="p.key">
                                            <td>{{p.name}}</td>
                                            <td>{{p.organization}}</td>
                                            <td>{{p.email}}</td>
                                            <td>{{p.phoneNumber}}</td>
                                            <td class="text-center cursor-pointer">
                                                <el-button type="primary" size="mini" icon="el-icon-edit" v-on:click="editCollaborator(p)" circle></el-button>
                                            </td>
                                            <td class="text-center text-danger">
                                                <el-button type="danger" size="mini" icon="el-icon-delete" v-on:click="removeCollaborator(p.key)" circle></el-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <!-- PROJECT SITES -->
                    <div id="sitesTab" class="tab-pane form-horizontal">
                        <project-sites v-if="key" :project_id="key"></project-sites>
                    </div>

                    <div id="historyTab" class="tab-pane form-horizontal">
                        <history-tab v-if="key" :parent_table_key="key" parent_table_name="ProjectHistory"></history-tab>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!------------------ EDIT COLLABORATOR ----------------------------------->
<div class="modal fade" id="editCollaboratorFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ editingCollaborator ? 'Edit' : 'Add' }} Collaborator</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card border-0">
                    <div class="row g-3">
                        <div class="col-12">
                            <lable>Name</lable>
                            <base-input v-model="collaboratorForm.name" label="Name"></base-input>
                        </div>
                        <div class="col-12">
                            <lable>Organization</lable>
                            <base-input v-model="collaboratorForm.organization" label="Organization"></base-input>
                        </div>
                        <div class="col-12">
                            <lable>Email</lable>
                            <base-input v-model="collaboratorForm.email" label="Email"></base-input>
                        </div>
                        <div class="col-12">
                            <lable>Phone Number</lable>
                            <base-input v-model="collaboratorForm.phoneNumber" label="Phone Number"></base-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <base-button color="danger" plain data-bs-dismiss="modal">Cancel</base-button>
                <base-button color="success" v-on:click="handleCollaboratorSave()">
                    Save
                </base-button>
            </div>
        </div>
    </div>
</div>

<!---------------------ADD AN EXISTING COLLABORATOR----------------------->
<div class="modal fade" id="addCollaboratorFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Collaborator</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card border-0">
                    <div class="row g-3">
                        <div class="col-12">
                            <div>Collaborator</div>
                            <el-select class="w-100" v-model="selectedCollaborator" filterable placeholder="Select Collaborator">
                                <el-option v-for="item in allCollaborators"
                                           :key="item.key"
                                           :label="`${item.name} ${item.organization} - ${item.email}`"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <base-button color="danger" plain data-bs-dismiss="modal">Cancel</base-button>
                <base-button color="success" v-on:click="addExistingCollaborator()">
                    Save
                </base-button>
            </div>
        </div>
    </div>
</div>


<!-- editAdministratorTemplate -->
<div class="modal fade" id="editAdministratorsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card border-0">
                    <div class="row g-3">
                        <div class="col-12">
                            <div>Project Administrators</div>
                            <base-input readonly disabled type="textarea" v-model="currentProjectAdmins"></base-input>
                        </div>
                        <div class="col-12">
                            <div>Project Users</div>
                            <el-select class="w-100" v-model="currentProjectUsers" multiple filterable placeholder="Select">
                                <el-option v-for="item in allProjectUsers"
                                           filterable
                                           :key="item.key"
                                           :label="item.name"
                                           :value="item.key">
                                </el-option>
                            </el-select>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <base-button size="small" plain color="danger" data-bs-dismiss="modal">Cancel</base-button>
                <base-button size="small" v-on:click="updateProjectUsers()">
                    Apply Changes
                </base-button>
            </div>
        </div>
    </div>
</div>

