@using Wmis.Extensions
@{
    ViewBag.Title = "Survey";
    ViewBag.SubTitle = "View";
}

@section CustomTitle {
    <div class="h1 m-0">
        <ol class="breadcrumb">
            <li v-show="project"><a :href="`/Project/Edit/${project ? project.key : ''}`">{{ project ? project.name : "" }}</a></li>
            <li class="active">
                Survey @if (!string.IsNullOrEmpty(@ViewBag.SubTitle))
                {<small>@Html.Raw(ViewBag.SubTitle)</small>}
            </li>
        </ol>
    </div>
}

@section TopRight{
    <div class="h6 text-end">
        <span>Target Species: {{ form.targetSpecies ? form.targetSpecies.name : "" }}<br /></span>
        <span>Common Name: {{ form.targetSpecies ? form.targetSpecies.commonName : "" }}</span>
    </div>
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))

    <style>
        .breadcrumb {
            background-color: white;
            border-radius: 4px;
            list-style: outside none none;
            margin-bottom: 0;
            padding: 0 15px;
        }

            .breadcrumb > li + li::before {
                content: "/ ";
                padding: 0 5px;
            }

            .breadcrumb:first-child a {
                font-size: 0.8em !important;
            }

        #map-canvas {
            height: 500px;
            width: 100%;
        }
    </style>
}

@section Scripts{
    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPbVsrzI2t37hJOZKAo1bqpCu3khl14kM&callback=initMap" type="text/javascript"></script>
    *@

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD74ZSiStfxRLwtVA--KlaSoYeeyNPJB-g" type="text/javascript"></script>
    <script type="text/html" id="survey-observations">
        @{Html.RenderPartial("SurveyObservationsTab");}
    </script>

    <script type="text/html" id="file-tab-template">
        @{Html.RenderPartial("~/Views/Shared/FileTab.cshtml");}
    </script>

    <script type="text/html" id="history-tab-template">
        @{Html.RenderPartial("~/Views/Shared/HistoryTab.cshtml");}
    </script>

    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/components/GMap"))
    @Html.Raw(Scripts.Render("~/bundles/components/SurveyObservations"))
    @Html.Raw(Scripts.Render("~/bundles/components/FileTab"))
    @Html.Raw(Scripts.Render("~/bundles/components/HistoryTab"))
    @Html.Raw(Scripts.Render("~/bundles/project/survey/edit"))
}

<input type="hidden" id="surveyKey" value="@ViewBag.Key" />

<div class="row mb-4">
    <div class="col-12 text-end">
        <a :href="`/Project/Edit/${ project ? project.key : ''}`" class="el-button el-button--danger">
            @if (Html.UserIsProjectAdministrator())
            {
                <span>Cancel</span>
            }
            else
            {
                <span>Back</span>
            }
        </a>

        @if (Html.UserIsProjectAdministrator())
        {
            <base-button size="large" color="success" :busy="loading" v-on:click.prevent="submit()" :disabled="disabled">Save</base-button>
        }
    </div>
</div>

<div class="row my-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs justify-content-center fw-bold"  role="tablist">
                    <li class="nav-item active"><a href="#survey" role="tab" data-bs-toggle="tab" class="nav-link active">Survey</a></li>
                    <li class="nav-item"><a href="#observations" role="tab" data-bs-toggle="tab" class="nav-link">Observations</a></li>
                    <li class="nav-item"><a href="#links" role="tab" data-bs-toggle="tab" class="nav-link">Links</a></li>
                    <li class="nav-item"><a href="#history" role="tab" data-bs-toggle="tab" class="nav-link">History</a></li>
                </ul>
            </div>

            <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content" id="surveyTabContent">
                    <div id="survey" class="tab-pane active py-4">
                        <div v-show="project">
                            @{Html.RenderPartial("EditSurveyTab");}
                        </div>
                    </div>

                    <div id="observations" class="tab-pane py-4">
                        <survey-observations v-if="key" :survey_id="key"></survey-observations>
                    </div>

                    <div id="links" class="tab-pane py-4">
                        <file-tab v-if="key" :parent_table_key="key" parent_table_name="Survey"></file-tab>
                    </div>

                    <div id="history" class="tab-pane py-4">
                        <history-tab v-if="key" :parent_table_key="key" parent_table_name="SurveyHistory"></history-tab>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
