@using Wmis.Extensions
@{
    ViewBag.Title = "Project";
    ViewBag.SubTitle = "<span>{{form ? form.name : ''}}</span>";
}

@section TopRight{
    <div class="h6 text-end">
        <span>Status: <strong><span>{{form.status ? form.status.name : ""}}</span></strong><br /></span>
        <span class="h5">
            Last Updated: <span>{{ lastUpdated }}</span>
        </span>
    </div>
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts{

    <script type="text/html" id="project-surveys">
        @{Html.RenderPartial("SurveysTab");}
    </script>

    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/components/ProjectSurveys"))
    @Html.Raw(Scripts.Render("~/bundles/project/edit"))
}

<input type="hidden" id="projectKey" value="@ViewBag.Key" />
@*<input type="checkbox" id="viewSensitive" value="@(ViewBag.CanViewSensitive ? true : false)" />*@


<div class="row">
    <div class="col-md-12 text-end">

        @if (Html.UserIsProjectAdministrator())
        {
            <button type="button" class="btn btn-secondary me-2">Edit Users</button>
        }
        <a href="~/Project/" class="btn btn-secondary me-2">
            @if (Html.UserIsProjectAdministrator())
            {
                <span>Cancel</span>
            }
            else
            {
                <span>Back</span>
            }
        </a>
        @if (Html.UserIsProjectAdministrator() || ViewBag.CanViewSensitive)
        {
            <button type="submit" class="btn btn-primary" data-bind="click: saveProject, enable: canSave">Save</button>
        }
    </div>
</div>

<!-------------------------------------------->
<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active"><a href="#general" role="tab" data-bs-toggle="tab" class="nav-link active">General</a></li>
            <li class="nav-item"><a href="#surveys" role="tab" data-bs-toggle="tab" class="nav-link">Surveys</a></li>
            <li class="nav-item"><a href="#collaborators" role="tab" data-bs-toggle="tab" class="nav-link">Collaborators</a></li>
            <li class="nav-item"><a href="#sites" role="tab" data-bs-toggle="tab" class="nav-link">Sites</a></li>
            <li class="nav-item"><a href="#history" role="tab" data-bs-toggle="tab" class="nav-link">History</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="biodiversityTabContent">
            <div id="general" class="tab-pane active py-4">
                @{Html.RenderPartial("GeneralTab");}
            </div>

            <div id="surveys" class="tab-pane form-horizontal">
                <project-surveys v-bind:project_id="key"></project-surveys>
            </div>

            <div id="collaborators" class="tab-pane form-horizontal">
                Place historyasa
            </div>

            <div id="sites" class="tab-pane form-horizontal">
                Place historydas
            </div>
            <div id="history" class="tab-pane form-horizontal">
                Place historya
            </div>
        </div>
    </div>
</div>


<!-------------------------------------------->
<!-------------------------------------------->
<script id="addCollaboratorTemplate" type="text/html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Collaborator</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="hidden" id="collaboratorInput" class="form-control" data-bind="select2: collaboratorOptions" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bind="click: save">Add</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>

<script id="createEditCollaboratorTemplate" type="text/html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" data-bind="text: titleText"></h4>
                </div>
                <div class="modal-body form-horizontal" data-bind="with: collaborator">
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="name" data-bind="value: name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="organization" class="col-md-2 control-label">Organization</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="organization" data-bind="value: organization">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Email</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="email" data-bind="value: email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="col-md-2 control-label">Phone Number</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="phoneNumber" data-bind="value: phoneNumber">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bind="click: save, text: confirmText"></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>

<script id="editAdministratorTemplate" type="text/html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Users</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="adminList">Project Administrators</label>
                            <input type="text" id="adminList" class="form-control" data-bind="value: administratorNames" readonly="readonly" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Project Users</label>
                            <!-- ko if: userOptions -->
                            <input type="hidden" class="form-control" id="currentUsers" name="currentUsers" data-bind="enabled: isLoadedForEditing, select2KeyValueTags: userOptions" />
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bind="click: save">Apply Changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>