@{
    ViewBag.Title = "Site";
    ViewBag.SubTitle = "Edit";
}

@section CustomTitle {
    <div class="h1 pull-left" style="margin:0;">
        @*@ViewBag.Title
            @if (!string.IsNullOrEmpty(@ViewBag.SubTitle)) {<small>@Html.Raw(ViewBag.SubTitle)</small>}*@

        <ol class="breadcrumb">
            <li><a href="#" data-bind="click: $root.navigateToProject, text: projectName"></a></li>
            <li class="active">
                Site @if (!string.IsNullOrEmpty(@ViewBag.SubTitle))
                {<small>@Html.Raw(ViewBag.SubTitle)</small>}
            </li>
        </ol>
    </div>

}

@section Styles {
    <style>
        .error-text {
            display: none;
        }

        .has-error .error-text {
            display: inline;
        }
        .breadcrumb {
            background-color: white;
            border-radius: 4px;
            list-style: outside none none;
            margin-bottom: 0;
            padding: 0 15px;
        }

            .breadcrumb > li + li::before {
                content: "/ ";
                padding: 0 5px;
            }

    </style>
}

@section Scripts{
    @Html.Raw(Scripts.Render("~/bundles/knockout"))
    @Html.Raw(Scripts.Render("~/bundles/project/site/edit"))

    <script>
        $(function () {
            wmis.project.site.edit.initialize({
                key: @ViewBag.Key
            });
        });
    </script>
}

@{ Html.RenderPartial("EditSiteForm"); }