@{
    ViewBag.Title = "Survey";
	ViewBag.SubTitle = "Edit";
}

@section TopRight{
	<div class="h5 pull-right" style="text-align: right; margin:0;" data-bind="with: survey">
		<span data-bind="with: targetSpecies">Target Species: <span data-bind="text: name"></span><br /></span>
		<span data-bind="with: targetSpecies">Common Name: <span data-bind="text: commonName"></span></span>
	</div>
}

@section Styles {
	@Html.Raw(Styles.Render("~/bundles/content/datatables"))
	@Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts{
	@Html.Raw(Scripts.Render("~/bundles/datatables"))
	@Html.Raw(Scripts.Render("~/bundles/select2"))
	@Html.Raw(Scripts.Render("~/bundles/knockout"))
	@Html.Raw(Scripts.Render("~/bundles/project/survey/edit"))

	<script>
		$(function() {
			wmis.project.survey.edit.initialize({
				projectSurveyKey: @ViewBag.Key,
				uploadObservationForm: $("#observationFileUploadForm")
			});
		});
	</script>
}

@section Dialogs {
	<div class="modal" id="observationUploadModal" tabindex="-1" role="dialog" aria-hidden="true">
		<iframe id="uploadIframe" name="uploadIframe" src="" style="height: 1px; width: 1px;" frameborder="0" scrolling="no" height="1" width="1"></iframe>
		<form role="form" id="observationFileUploadForm" enctype="multipart/form-data" action="~/api/observation/upload/@ViewBag.Key" method="post" target="uploadIframe">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Upload Observations</h4>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<label for="exampleInputFile">Observation File</label>
							<input type="file" id="exampleInputFile" name="exampleInputeFile">
							<p class="help-block">Only .xls and .xlsx files are supported.</p>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" data-bind="click: uploadObservationFile">Upload</button>
					</div>
				</div>
			</div>
		</form>
	</div>
}

@{ Html.RenderPartial("EditSurveyForm"); }