@{
    ViewBag.Title = "Survey";
	ViewBag.SubTitle = "Edit";
}

@section TopRight{
	<div class="h5 pull-right" style="text-align: right; margin:0;" data-bind="with: survey">
		<span data-bind="with: targetSpecies">Target Species: <span data-bind="text: name"></span><br /></span>
		<span data-bind="with: targetSpecies">Common Name: <span data-bind="text: commonName"></span></span>
	</div>
}

@section Styles {
	@Html.Raw(Styles.Render("~/bundles/content/datatables"))
	@Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts{
	@Html.Raw(Scripts.Render("~/bundles/datatables"))
	@Html.Raw(Scripts.Render("~/bundles/select2"))
	@Html.Raw(Scripts.Render("~/bundles/knockout"))
	@Html.Raw(Scripts.Render("~/bundles/project/survey/edit"))

	<script>
        $(function () {
            wmis.project.survey.edit.initialize({
            	projectSurveyKey: @ViewBag.Key,
            });
        });
	</script>
}

@{ Html.RenderPartial("EditSurveyForm"); }