@using Wmis.Extensions
@{
    ViewBag.Title = "Projects";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/project/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-end">
        <div>
            <button type="button" v-on:click="downloadRecords()" class="btn btn-primary btn-sm me-2">Download</button>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <a href="/Project/New" class="btn btn-success btn-sm me-2">New</a>
            }
            <a v-bind:href=`/Project/Edit/${selectedKey}` id="editButton" class="btn btn-primary btn-sm me-2" v-bind:class="{'disabled' : !isSelected}">
                View
            </a>
        </div>
    </div>
</div>


<div class="card bg-light">
    <div class="card-body">
        <div class="row g-3">
            <div class="col">
                <label class="form-label">Project Lead</label>
                <select class="form-select" aria-label="Group" id="pLead">
                    <option value="">Project Lead</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label">Project Status</label>
                <select class="form-select" aria-label="Project Status" id="pStatus">
                    <option value="">Project Status</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label visually-hiddenx">Region</label>
                <select class="form-select" aria-label="Region" id="region">
                    <option value="">Region</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label visually-hiddenx">Keywords</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" id="keyword" v-model="form.keywords">
                    <button id="searchbtn" class="btn btn-info" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <table id="project" class="table w-100 table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Project Number</th>
                    <th>Name</th>
                    <th>Lead Region</th>
                    <th>Project Lead</th>
                    <th>Status</th>
                    <th>Status Date</th>
                    <th>Start Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

