@using Wmis.Extensions
@{
    ViewBag.Title = "WMIS Search";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datePickerCss"))
    @Html.Raw(Styles.Render("~/bundles/content/datatables"))
    @Html.Raw(Styles.Render("~/bundles/select2css"))

    <style>
        #map-canvas {
            height: 500px;
            width: 100%;
            margin-bottom: 20px;
        }

        .datepicker {
            z-index: 1151 !important;
        }
    </style>
}

@section Scripts {
    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>*@
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPbVsrzI2t37hJOZKAo1bqpCu3khl14kM&callback=initMap" type="text/javascript"></script>
    @Html.Raw(Scripts.Render("~/bundles/datePicker"))
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/select2"))
    @Html.Raw(Scripts.Render("~/bundles/knockout"))
    @Html.Raw(Scripts.Render("~/bundles/search/index"))

    <script type="text/javascript">
        $(function () {
            wmis.search.index.initialize();
        });
    </script>
}

<div class="row">
    <div class="col-md-12 text-right">
        <button id="searchButton" class="btn btn-primary" style="margin-bottom: 10px;">Search</button>
    </div>
</div>

<div class="well form-horizontal" `>
    <div class="row form-group">
        <div class="col-md-2">
            <label style="padding-top: 9px;">Observations</label>
        </div>
        <label class="col-md-1 control-label">From:</label>
        <div class="col-md-3">
            <div class="input-group date" data-bind="datePicker: fromDate">
                <input type="text" id="fromDate" class="form-control" readonly="readonly">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
        <label class="col-md-1 control-label">To:</label>
        <div class="col-md-3">
            <div class="input-group date" data-bind="datePicker: toDate">
                <input type="text" id="toDate" class="form-control" readonly="readonly">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-3 control-label">Species:</label>
        <div class="col-md-9">
            <input type="hidden" class="form-control" id="speciesIds" name="speciesIds" data-bind="select2KeyValueTags: speciesOptions" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-3 control-label">NWT SARA Status:</label>
        <div class="col-md-9">
            <input type="hidden" class="form-control" id="nwtSaraIds" name="nwtSaraIds" data-bind="select2KeyValueTags: nwtSaraOptions" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-3 control-label">Federal SARA Status:</label>
        <div class="col-md-9">
            <input type="hidden" class="form-control" id="fedSaraIds" name="fedSaraIds" data-bind="select2KeyValueTags: fedSaraOptions" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-3 control-label">General Rank Status:</label>
        <div class="col-md-9">
            <input type="hidden" class="form-control" id="generalStatusIds" name="generalStatusIds" data-bind="select2KeyValueTags: rankOptions" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-3 control-label">NWT SARC Assessment:</label>
        <div class="col-md-9">
            <input type="hidden" class="form-control" id="nwtSarcIds" name="nwtSarcIds" data-bind="select2KeyValueTags: sarcOptions" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-3 control-label">Survey Types:</label>
        <div class="col-md-9">
            <input type="hidden" class="form-control" id="surveyTypeIds" name="surveyTypeIds" data-bind="select2KeyValueTags: surveyTypes" />
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-2">
            <label style="padding-top: 9px;">Top Left</label>
        </div>
        <label class="col-md-1 control-label">Latitude:</label>
        <div class="col-md-3">
            <input type="text" id="topLatitude" class="form-control" />
        </div>
        <label class="col-md-1 control-label">Longitude:</label>
        <div class="col-md-3">
            <input type="text" id="topLongitude" class="form-control" />
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-2">
            <label style="padding-top: 9px;">Bottom Right</label>
        </div>
        <label class="col-md-1 control-label">Latitude:</label>
        <div class="col-md-3">
            <input type="text" id="bottomLatitude" class="form-control" />
        </div>
        <label class="col-md-1 control-label">Longitude:</label>
        <div class="col-md-3">
            <input type="text" id="bottomLongitude" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 h4">
        <div class="row">
            <div class="col-md-12">Search Results</div>
        </div>
        <hr>
    </div>
</div>

<div id="map-canvas"></div>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="~/Project/Edit" id="editButton" class="btn btn-default disabled" style="margin-bottom: 10px;">
            @if (Html.UserIsProjectAdministrator())
            {
                <span>Edit Project</span>
            }
            else
            {
                <span>View Project</span>
            }
        </a>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="searchTable" class="table">
            <thead>
				<tr>
					<th>Key</th>
					<th>Project Key</th>
					<th>Species</th>
					<th>Date</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th>Survey Type</th>
					<th>Animal ID</th>
					<th>Herd</th>
					<th>Sex</th>
				</tr>
            </thead>
        </table>
    </div>
</div>
